# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\NGO_App_Final_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
